<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Cats facts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<template>
  <div id="app">
    <div v-for="fact in facts">
      <div class="card-body">
        {{ fact.text }}
        <button @click="editing = fact">Edit</button>
      </div>
    </div>
    <form v-if="editing" @submit.prevent="saveFact">
      <input type="text" v-model="editing.text" />
      <button type="submit">Save</button>
      <button @click="editing = null">Cancel</button>
    </form>
  </div>
</template>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>

Vue.createApp({
  data() {
    return {
      facts: [],
      editing: null
    }
  },
  created() {
    axios.get('https://catfact.ninja/facts')
      .then(response => {
        this.facts = response.data.data
      })
  },
  methods: {
    saveFact() {
      axios.patch('https://catfact.ninja/facts/' + this.editing.id, { text: this.editing.text })
        .then(response => {
          this.editing = null
        })
    }
  }
}).mount("#app");
</script>
</body>

</html>